
body {
    margin: 0px;
    
}

#wrapper {
    display: grid;
    grid-template-areas: 
    'ni ni ni ni ni'
    
    

    'ft ft ft ft ft'
    'ft ft ft ft ft'
    ;

}


#navitems {
    grid-area:ni;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #b5ffd5;
    height: 3em;
    margin-top: 0px;
    padding-top: 2em;
    list-style-type: none;
    border-bottom:inset #B34B44 10px;
    font-family: 'Mochiy Pop P One', sans-serif;
    color: #FF675F;
    width: 100%;

}

footer {
grid-area: ft;
display:flex;
flex-direction: column;
justify-content: space-evenly;
background-color:teal;
height: 7em;
border-top:solid rgb(1, 63, 63) 10px;

}