
body {
    margin: 0px;
    
}

#wrapper {
    display: grid;
    grid-template-areas: 
    'nv nv'
    'mt mt'
    'mn mn' 
    'mn mn'
    'ft ft'
    'ft ft'
    ;

}



#navitems {
    grid-area:ni;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #9db174;
    height: 3em;
    margin-top: 0px;
    padding-top: 2em;
    border-bottom:inset #544336 10px;
    font-family: 'Mochiy Pop P One', sans-serif;
    color: #544336;
    width: 100%;
    margin-bottom:0px;
    position: fixed;
    top: 0;
    width: 100%;
}

footer {
grid-area: ft;
display:flex;
flex-direction: row;
justify-content: center;
background-color: #6a794d;
height: 7em;
border-top:solid #544336 10px;
color: rgb(40, 48, 8);
}

#footerindex {
text-align:center;
line-height: 1.5em;
}

.navbar {
    grid-area:nv;
    display: flex;

}

li {
    list-style-type: none
}

#main {
    background-color: #D6D2CC;;
}

#menutitle {
    display: flex;
    justify-content: center;
    margin-top: 4em;
    grid-area:mt;
    margin-bottom:10px;
    font-size:3em;
    text-decoration: none;
    border-bottom: solid ;
    width: 4em;
    text-align:center;
    
}

#titlebox {
    width:100%
}
#header_menu_box {
    display: flex;
    flex-direction: row;
    border: none;
    justify-content: space-evenly;
    align-content: center;
    padding-bottom: 20px;
}
#menu {
grid-area: mn;
display:grid;
grid-template-areas: 
'mt mt'
'll lr'
;
grid-template-columns: 50% 50%;
text-overflow: ellipsis;
text-align:center;
background-color:#D6D2CC;
}

#ListLeft {
    grid-area: ll;
   border-right:1px black solid;
   padding-right: 5em;
}

#MenuLine {
    grid-area:ml;
    color: rgb(255, 140, 0);
}
#ListRight {
    grid-area:lr;
    border-left:1px black solid;
}

h1 {
    color:rgb(81, 94, 23);
    text-decoration: underline 8px;
    
    
}

h2 {
    color:#544336;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   letter-spacing: 1px;
}

#logo {

    position: relative;
    top:-30px;
}

a {
    text-decoration: none;
    color:#544336;
}

#restu_name {
    color:rgb(81, 94, 23);
    text-decoration: none;
    font-size: 2em;
    position:relative;
    top:-15px;
    left: -60px;
    
}
