
body {
    margin: 0px;   
}

#wrapper {
    display:grid;
    grid-template-areas:
    'nv nv'
    'mn mn'
    'ft ft'
    'ft ft'
    ;
    grid-template-rows: 1fr 4fr 1fr;
    height:100vh;
}

#navitems {
    grid-area:ni;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #9db174;
    height: 3em;
    margin-top: 0px;
    padding-top: 2em;
    border-bottom:inset #544336 10px;
    font-family: 'Mochiy Pop P One', sans-serif;
    color: #544336;
    width: 100%;
    margin-bottom:0px;
    position: fixed;
    width: 100%;
}

.navbar {
    grid-area:nv;
    display: flex;
    background-color: #D6D2CC;
}

#main {
    grid-area:mn;
    display:grid;
    grid-template-areas: 
    'eb ew'
    'eb ew'
    'eb ew'
    ;
    grid-template-columns:2fr 2fr ;
    background-color: #D6D2CC;
}

.Erb {
    grid-area:eb;

}

#erb_whitespace {
    grid-area:ew;
}

footer {
    grid-area: ft;
    display:flex;
    flex-direction: row;
    justify-content: center;
    background-color: #6a794d;
    height: 7em;
    border-top:solid #544336 10px;
    color: rgb(40, 48, 8);
}    
#footerindex {
    text-align:center;
    line-height: 1.5em;
}


li {
    list-style-type: none
}

h1 {
    color:rgb(4, 131, 131);
    text-decoration: underline 8px;
    
    
}

h2 {
    color: #544336;
   letter-spacing: 1px;
}

#logo {

    position: relative;
    top:-30px;
}

a {
    text-decoration: none;
    color:#544336;
}

#restu_name {
    color:rgb(81, 94, 23);
    text-decoration: none;
    font-size: 2em;
    position:relative;
    top:-15px;
    left: -60px;
}

#MenuLine {
    grid-area:ml;
    color: rgb(255, 140, 0);
}

.erb_line {
    border:solid #544336 1px;

}

p {
    color:rgb(81, 94, 23);
}